main {
    position: relative;
    top: 56px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    color: black;
    margin: 0;
}

#navbar {
    width: 100%;
    /*background: linear-gradient(35deg, #CCFFFF, #FFCCCC);*/
    border:black;
    border-style:solid;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        background-color: #CCFFFF;
    }
    100% {
        background-color: #FFCCCC;
    }
}
nav li{
    display: inline;
    border: black;
    border-style: solid;
    float: right;
    padding: 5px;
    transform: skewX(-24deg);
}

a {
    text-decoration: none;
}
nav li:hover{
    transform: scale(1.1);
}

.border{
    border-color: white;
    border-width: 5px;
    border-style: solid;
    /* border: solid 5px white; */
    border-radius: 30px;
    background-color: rgb(178, 190, 153);
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 0 20px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30), 0 6px 20px rgba(0, 0, 0, 0.90);
}

#personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(178, 190, 153);
    padding: 2%;
    position: relative;
}

#petya {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#img-div{
    background-image: url('../images/petya_cv_face_3x4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px white;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.30), 0 6px 20px rgba(0, 0, 0, 0.90);
}

#img-div:hover {
    transform: scale(1.1);
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}
#tribute-info li {
    font-weight: bold;    
}

h3 {
    text-align: center;
}
#want-to {
    font-style: italic;
}
p {
    text-align: justify;
    line-height: 20px;
}

a {
    color: blue;
}
a:hover {
    color: red;
}

/*#child-nav {
    position: absolute;
    right: 30px;
    top: 10px;
}*/